img{
  width: 350px;
  height: 200px;
  margin: 10px
}
a{
  color:blue;
}

th{
  font-size: 43px;
}
table,th,td{
  border-collapse: collapse;
  border: 2px solid grey;
  width: 1500px;
}
#especial{
  width: auto;
}
